# This is Git's per-user configuration file.

# If path includes dev then use personal config
[includeIf "gitdir:~/dev/"]
  path = ~/.gitconfig-personal
# If path includes vira use vira config
[includeIf "gitdir:~/vira/"]
  path = ~/.gitconfig-vira

[alias]
    st = "!gstash() { git stash push -m \"$(date)\" ;}; gstash"
    app = "stash apply"
    c = "checkout"
    cb = "checkout -b"
    cm = "commit -m"
[core]
	editor = vim
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE